        <div class="hero">
        </div>

        <div class="signup">
          <h2 class="signup-txt">Become a Fantasy Guest. Sign Up!</h2>
        </div>

        <div class="row m-sm-bottom">
          <div class="small-12 columns intro">
            <h4>Become a fantasy Guest</h4>
            <p>Do you have what it takes to a guest in the house? More text goes here, not too much more, but just enough.</p>
          </div>
        </div>

        <div class="container m-sm-bottom">
          <div class="row">
            <div class="medium-4 columns "><h3 class="panel columns txt-center">Make your picks</h3></div>
            <div class="medium-4 columns "><h3 class="panel columns txt-center">See your ranking</h3></div>
            <div class="medium-4 columns "><h3 class="panel columns txt-center">Discuss your picks</h3></div>
          </div>
        </div>

        <div class="row m-sm-bottom">
          <div class="small-11 small-centered columns bkg-blue fake-ad">
            <h2 class="txt-white txt-center">Ad goes here</h2>
          </div>
        </div>

        <div class="row ">
          <div class="small-12 columns">
            <h3>Featured Fantasy Guest</h3>
          </div>
        </div>

        <div class="row m-sm-bottom ">
          <div class="small-6 medium-3 columns ">
            <div class="bkg-gray">
              <h4 class="txt-center txt-white m-zero-bottom">FAN</h4>
            </div>
            <div class="">
              <img src="img/el.jpg">
            </div>
            <div class="">
              <h4 class="txt-center">ElSass</h4>
            </div>
          </div>
          <div class="small-6 medium-3 columns ">
            <div class=" bkg-blue">
              <h4 class="txt-center txt-white m-zero-bottom">HOH</h4>
            </div>
            <div class="">
              <img src="img/dave-cropped.jpg">
            </div>
            <div class="">
              <h4 class="txt-center">Dave</h4>
            </div>
          </div>
          <div class="small-6 medium-3 columns ">
            <div class=" bkg-purple">
              <h4 class="txt-center txt-white m-zero-bottom">POV</h4>
            </div>
            <div class="">
              <img src="img/vanessa-cropped.jpg">
            </div>
            <div class="">
              <h4 class="txt-center">Vanessa</h4>
            </div>
          </div>
          <div class="small-6 medium-3 columns ">
            <div class=" bkg-red">
              <h4 class="txt-center txt-white m-zero-bottom">OUT</h4>
            </div>
            <div class="">
              <img src="img/shellie-cropped.jpg">
            </div>
            <div class="">
              <h4 class="txt-center">Shellie</h4>
            </div>
          </div>
        </div>